@font-face {
  font-family: "Hanken Grotesk";
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.main-container {
  display: flex;
}

.box1,
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 368px;
  height: 512px;
  border-radius: 32px;
}

.box1 {
  background: linear-gradient(180deg, #75f 0%, #2f2ce9 100%);
}

.box2 {
  border: 2px solid black;
  background-color: #fff;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%);
}

body {
  font-family: "Hanken Grotesk";
  background-color: #f3f4fd;
}

.top-num {
  color: #fff;
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.bottom-num {
  color: #cac9ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  opacity: 0.5168;
}
